#!/bin/bash
if [ ! -f ~/control/makebs ]; then
	exit
fi
rm ~/control/makebs

echo "Starting makebs" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver: makebs starting" --body -

source $(dirname $0)/outputstatus.sh
post_status

LOGFILE=~/control/logs/makebs-`date "+%Y-%m-%d-%H-%M-%S"`.log
exec >  >(tee -ia $LOGFILE)
exec 2> >(tee -ia $LOGFILE >&2)

error() {
    echo "makebs.sh failed at line $1" | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver: makebs failed" --body -
    exit 1
}
trap 'error ${LINENO}' ERR

cd ~/fdroidserver
ionice -c 3 ./makebuildserver --clean --verbose

echo "Completed makebs. Triggering build." | tee ~/control/lastmsg | swaks -tls --from={{ robot_email }} --to={{ robot_email }} --h-Subject="Buildserver: makebs complete" --body -

post_status

echo Finished
