# this file should be sourced in the script that needs to call post_status()
# shellcheck shell=bash

remote=$(python3 -c "import yaml; print(yaml.safe_load(open('{{ userhome }}/fdroiddata/config.yml'))['serverwebroot'])")
post_status() {
    if [ -z "$startTimestamp" ]; then
	jsonFile={{ userhome }}/fdroiddata/repo/status/$(basename "$0" | sed 's,\.sh$,,').json
	startTimestamp=$(date +%s)

	printf '{"/etc/issue.net":"%s","commandLine":"%s", "startTimestamp": %d000}' \
	       "$(cat /etc/issue.net)" \
	       "$0" \
	       "$startTimestamp" \
	       > "$jsonFile"
    else
	printf '{"/etc/issue.net":"%s","commandLine":"%s", "startTimestamp": %d000, "endTimestamp": %d000}' \
	       "$(cat /etc/issue.net)" \
	       "$0" \
	       "$startTimestamp" \
	       "$(date +%s)" \
	       > "$jsonFile"
    fi
    rsync -axz --timeout=60 "$jsonFile" "$remote/repo/status/"
}
